<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.samsung.wexposed"
    android:versionCode="29"
    android:versionName="1.10" >

    <uses-sdk
        android:minSdkVersion="15"
        tools:ignore="UsesMinSdkAttributes" />

    <permission-tree android:name="com.samsung.wexposed" />

    <permission
        android:name="com.samsung.wexposed.BROADCAST_PERMISSION"
        android:protectionLevel="dangerous" >
    </permission>

    <uses-permission android:name="com.samsung.wexposed.BROADCAST_PERMISSION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- android:theme="@style/AppTheme"> -->
        <activity
            android:name="com.samsung.wexposed.XposedModActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.samsung.wexposed.settings.ApplicationSettings"
            android:configChanges="orientation|screenSize"
            android:label="@string/settings_title"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <service android:name=".WEXposedService" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="@string/app_mod_summary" />
        <meta-data
            android:name="xposedminversion"
            android:value="52+" />

        <!-- Declaring broadcast receiver for BOOT_COMPLETED event -->
        <receiver
            android:name="com.samsung.wexposed.AutoStart"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>